<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24"
    >
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
          >
            BUT THERE ARE ONLY...
            3 REASONS WHY YOU'RE HERE
          </p>
          <p class="text-base mt-4 text-gray-500">
            
        x
          </p>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border"
      >
       <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border lg:rounded-3xl object-cover rounded shadow-2xl"
            src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
          />
       </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            1
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          
            We conserve your time, money & resources in virtue of saving you more time, money, & energy! You see, by us efficiently streamlining the recovery process and effectively preventing further injury, you get the world's most cost, time & result effective ankle self-rehab safety system known to Man, at a fraction of the cost!

        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            2
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          
          The cost savings alone should be enough for you; the customer! Enabling us to bridge the gap between over-priced & under-regulated safety & medical equipment and the treatment you deserve! So you can rest assured you're getting the best solution your money can buy, no matter how much you save! 

        </p>
      </div><div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div
            class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10"
          >
            <ion-icon
              aria-label="scan outline"
              class="hydrated md h-5 w-5"
              name="scan-outline"
              role="img"></ion-icon>
          </div><p
            class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
          >
            3
          </p>
        </div><p class="text-gray-500 text-sm mt-4">
          And most importantly, we're so damn confident that once you experience the truly revolutionary benefits our systems have to offer, you'll be a raving fan of our company and a customer for life!
        </p>
      </div>
    </div>
  </div>
</section>
