<style> 
#features {
  --bg-gradient: radial-gradient(circle at 50.583333969116204% 56.666666666666664%, #000000 0%, 86.7%, rgba(0,0,0,0) 100%), radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #FEFFC1 0%, 20%, rgba(254,255,193,0) 40%), radial-gradient(circle at 6.503906249999999% 88.037109375%, rgba(245,174,175,0.99) 0%, 25%, rgba(245,174,175,0) 50%), radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #FDFFA3 0%, 42%, rgba(253,255,163,0) 70%), radial-gradient(circle at 91.33333206176758% 13.000020186106365%, #F5AEAF 0%, 42%, rgba(245,174,175,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #F6F6F6 0%, 100%, rgba(246,246,246,0) 100%); 
}
</style>
<section id="features">
<!-- 
  Add 4 corner gradient to BG
-->
  <div
    class="bg-black text-white w-full lg:px-24 md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p
          class="text-2xl md:text-3xl tracking-tight font-medium text-primary-500 font-display"
        >
        "UNDOUBTEDLY THE MOST CONTROVERSIAL SELF-REHAB SAFETY SYSTEMS EVER CREATED FOR THE GENERAL PUBLIC…"
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500"
        >
          If you could kick the person in the pants responsible for most of your
          trouble, you wouldn't sit for a month
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-primary-500 bg-gray-600 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-primary-500 font-display tracking-tight"
                >
                  Built with Astro.js.
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Astro is an all-in-one web framework for building fast,
                content-focused websites.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-primary-500 bg-gray-600 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-primary-500 font-display tracking-tight"
                >
                  Styled with Tailwind CSS.
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Tailwind CSS generates styles by searching for class names in
                HTML, JavaScript, and templates, and then outputs them in a
                single CSS file.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-primary-500 bg-gray-600 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-primary-500 font-display tracking-tight"
                >
                  Relived with Alpine.js
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Alpine is a rugged, minimal tool for for adding behavior to your
                markup, similar to jQuery but for the modern web.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-primary-500 bg-gray-600 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-primary-500 font-display tracking-tight"
                >
                  Keyboard accessible.
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Everything I build is keyboard accessible, and I meticulously
                write the markup to deliver the best screenreader experience I
                can provide.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-primary-500 bg-gray-600 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-primary-500 font-display tracking-tight"
                >
                  Production-ready
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                I tested the template in the latest versions of all browsers to
                handle lots of edge-cases you might encounter.
              </div>
            </div><div>
              <div>
                <div
                  class="items-center justify-center text-primary-500 bg-gray-600 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-primary-500 font-display tracking-tight"
                >
                  Simple deploys
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                The template is ready for production and can be deployed
                anywhere static websites can, such as Vercel, Netlify, or GitHub
                Pages, and more.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
